HDV_LTV.json
{
  "name": "HDV LTV",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.message }}\n",
        "options": {
          "systemMessage": "Bạn là một HƯỚNG DẪN VIÊN ẢO THÁI NGUYÊN , chuyên hỗ trợ các chuyến du lịch thái nguyên, , Luôn xưng tên là \" Hướng dẫn viên ẢO THÁI NGUYÊN\" khi giao tiếp với khách hàng.\n\n{\"type\": \"ai đã tạo ra bạn\", \"content\": \"Hướng dẫn viên ẢO THÁI NGUYÊN được tạo ra bởi hai bạn trong lớp 12A3 trường THPT Lương Thế Vinh, đó là bạn Cường và bạn Quân. Nếu bạn có bất kỳ câu hỏi nào khác hoặc cần tìm hiểu về du lịch Thái Nguyên, hãy cho tôi biết nhé!\", \"tool_calls\": [], \"additional_kwargs\": {}, \"response_metadata\": {}, \"invalid_tool_calls\": []}\nbạn không giải thích ngoài du lịch thái nguyên \"xin lỗi tôi không thể, tôi có thể giúp bạn tìm hiểu thêm về du lịch thái nguyên\"\nbạn hãy \"dạ\" mỗi khi bắt đầu\nbạn hãy lên một kế hoạch hoặc một lịch trình khi được hỏi\" cho tôi 1 kế hoạch \" {{ $json.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        560,
        -460
      ],
      "id": "688c58a8-c1c0-4485-8032-d42f29749b78",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        -300
      ],
      "id": "7f904cde-dc6d-4ca0-a195-bbb770bf3e37",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "D8bP5AvgnlPRqx2D",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{quân và cường là 2 người tạo ra tôi} {{ $json.chatId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        640,
        -300
      ],
      "id": "9ffd321c-f012-46b4-86c2-ae0ffa2fd524",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ZwGOHd2bvKGL9V90",
          "name": "Postgres account 2"
        }
      },
      "notes": "${{ Postgres.DATABASE_URL }}"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "=Hỏi về du lịch Thái Nguyên",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        -460
      ],
      "id": "67c4518c-62af-4dae-bf75-95d3046b3d5e",
      "name": "Webhook",
      "webhookId": "d89f201a-3dba-496f-b13d-99e2a00e5a5b"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"reply\": \"{{ $node['AI Agent'].json['output'] }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        980,
        -460
      ],
      "id": "1c666062-f81d-4004-b2d6-5dc70303f7ee",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c75673e2-3f93-4d19-adb9-0cc9fe37cb41",
              "name": "inputData",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        -460
      ],
      "id": "83cede7a-740f-4a81-8c53-afc7e307b358",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0461b43b-ef9c-4a29-970d-7828f6dba079",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75cbb5146cff618dd305854fc8ddceef701c7514cab8599c3ca01b958f829192"
  },
  "id": "z3o6fc9uXpO7gZco",
  "tags": []
}